<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <style>
      .delay-1 {
        animation-delay: 50ms;
      }

      .delay-2 {
        animation-delay: 120ms;
      }

      .delay-3 {
        animation-delay: 190ms;
      }

      .delay-4 {
        animation-delay: 260ms;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="inner-nav">
        <a href="/"
          >HOME
          <hr class="active-page" />
        </a>
        <a href="/portfolio">
          PORTFOLIO
          <hr />
        </a>
        <p class="nav-logo">BV</p>
        <a href="/about">
          ABOUT ME
          <hr />
        </a>
        <a href="/unique">
          UNIQUE
          <hr />
        </a>
      </div>
    </nav>

    <main class="index-main">
      <section class="intro-sect">
        <p class="animate__animated animate__fadeInDown delay-1">Welcome</p>
        <p class="animate__animated animate__fadeInDown delay-2">To</p>
        <p class="animate__animated animate__fadeInDown delay-3">My</p>
        <p class="animate__animated animate__fadeInDown delay-4">Website</p>
      </section>
    </main>
  </body>
</html>
