<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="inner-nav">
        <a href="/"
          >HOME
          <hr />
        </a>
        <a href="/portfolio">
          PORTFOLIO
          <hr class="active-page" />
        </a>
        <p class="nav-logo">BV</p>
        <a href="/about">
          ABOUT ME
          <hr />
        </a>
        <a href="/unique">
          UNIQUE
          <hr />
        </a>
      </div>
    </nav>

    <main class="portfolio-main">
      <section class="projects-sect">
        <h1 class="title-sect" data-aos="fade-down" data-aos-duration="1000">PROJECTS</h1>
        <div class="divider-container" data-aos="zoom-in">
          <hr class="left-piece" />
          <div class="center-piece"></div>
          <hr class="right-piece" />
        </div>
        <div class="projects-container">
          <!--1st project item-->
          <figure class="project-item" data-aos="flip-right" data-aos-duration="1000">
            <img class="project-thumbnail" src="./images/project1.png" alt="project thumbnail" />
            <div class="caption-container">
              <figcaption>Simple Inventoy Management System</figcaption>
              <div class="techs-used-container">
                <!--Next.js logo-->
                <img
                  src="./images/nextjs-icon-svgrepo-com.png"
                  alt="Next Logo"
                  width="20"
                  height="20"
                />
                <!--Prisma Logo-->
                <img
                  src="./images/prisma-icon-svgrepo-com.png"
                  alt="Prisma Logo"
                  width="20"
                  height="20"
                />
                <!--typescript logo-->
                <img
                  src="./images/typescript-icon-svgrepo-com.png"
                  alt="Typescript Logo"
                  width="20"
                  height="20"
                />
                <!--tailwindcss logo-->
                <img
                  src="./images/tailwindcss-icon-svgrepo-com.png"
                  alt="TailwindCSS Logo"
                  width="20"
                  height="20"
                />
              </div>
            </div>
            <p class="description">Finals exam in IT Elective 3</p>
            <div class="project-links-container">
              <a
                id="liveLink"
                href="https://simple-inventory-management-system.vercel.app/"
                target="_blank"
                >Live</a
              >
              <a
                id="srcCodeLink"
                href="https://github.com/br14nn/simple-inventory-management-system"
                target="_blank"
                >&lt;&#47;&gt;</a
              >
            </div>
          </figure>
          <!--2nd project item-->
          <figure
            class="project-item"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            <img class="project-thumbnail" src="./images/project2.png" alt="project thumbnail" />
            <div class="caption-container">
              <figcaption>Age Calculator App</figcaption>
              <div class="techs-used-container">
                <!--Vite logo-->
                <img src="./images/vite-svgrepo-com.png" alt="Vite Logo" width="20" height="20" />
                <!--React Logo-->
                <img src="./images/react-svgrepo-com.png" alt="React Logo" width="20" height="20" />
                <!--typescript logo-->
                <img
                  src="./images/typescript-icon-svgrepo-com.png"
                  alt="Typescript Logo"
                  width="20"
                  height="20"
                />
                <!--tailwindcss logo-->
                <img
                  src="./images/tailwindcss-icon-svgrepo-com.png"
                  alt="TailwindCSS Logo"
                  width="20"
                  height="20"
                />
              </div>
            </div>
            <p class="description">Age calculator app challenge in frontendmentor.io website</p>
            <div class="project-links-container">
              <a id="liveLink" href="https://age-calculator-app-bvv.netlify.app/" target="_blank"
                >Live</a
              >
              <a
                id="srcCodeLink"
                href="https://github.com/br14nn/age-calculator-app"
                target="_blank"
                >&lt;&#47;&gt;</a
              >
            </div>
          </figure>
          <!--3rd project item-->
          <figure class="project-item" data-aos="flip-right" data-aos-duration="1000">
            <img class="project-thumbnail" src="./images/project3.png" alt="project thumbnail" />
            <div class="caption-container">
              <figcaption>Clothing Store (Frontend Only)</figcaption>
              <div class="techs-used-container">
                <!--Vite logo-->
                <img src="./images/vite-svgrepo-com.png" alt="Vite Logo" width="20" height="20" />
                <!--React Logo-->
                <img src="./images/react-svgrepo-com.png" alt="React Logo" width="20" height="20" />
                <!--typescript logo-->
                <img
                  src="./images/typescript-icon-svgrepo-com.png"
                  alt="Typescript Logo"
                  width="20"
                  height="20"
                />
                <!--tailwindcss logo-->
                <img
                  src="./images/tailwindcss-icon-svgrepo-com.png"
                  alt="TailwindCSS Logo"
                  width="20"
                  height="20"
                />
              </div>
            </div>
            <p class="description">Wala lang himo himo ra rako 😂</p>
            <div class="project-links-container">
              <a id="liveLink" href="https://citrus-clothing.netlify.app/" target="_blank">Live</a>
              <a
                id="srcCodeLink"
                href="https://github.com/br14nn/citrus-clothing-website"
                target="_blank"
                >&lt;&#47;&gt;</a
              >
            </div>
          </figure>
          <!--4th project item-->
          <figure
            class="project-item"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            <img class="project-thumbnail" src="./images/project4.png" alt="project thumbnail" />
            <div class="caption-container">
              <figcaption>Room Landing Page</figcaption>
              <div class="techs-used-container">
                <!--Next.js logo-->
                <img
                  src="./images/nextjs-icon-svgrepo-com.png"
                  alt="Next Logo"
                  width="20"
                  height="20"
                />
                <!--typescript logo-->
                <img
                  src="./images/typescript-icon-svgrepo-com.png"
                  alt="Typescript Logo"
                  width="20"
                  height="20"
                />
                <!--tailwindcss logo-->
                <img
                  src="./images/tailwindcss-icon-svgrepo-com.png"
                  alt="TailwindCSS Logo"
                  width="20"
                  height="20"
                />
              </div>
            </div>
            <p class="description">Room Landing Page challenge in frontendmentor.io website</p>
            <div class="project-links-container">
              <a id="liveLink" href="https://room-homepage-br14nn.vercel.app/" target="_blank"
                >Live</a
              >
              <a id="srcCodeLink" href="https://github.com/br14nn/room-homepage" target="_blank"
                >&lt;&#47;&gt;</a
              >
            </div>
          </figure>
        </div>
      </section>
      <section class="skills-sect">
        <h1 class="title-sect" data-aos="fade-down" data-aos-duration="1000">SKILLS</h1>
        <div class="divider-container" data-aos="zoom-in">
          <hr class="left-piece" />
          <div class="center-piece"></div>
          <hr class="right-piece" />
        </div>
        <div class="skills-container">
          <!--HTML-->
          <img
            src="./images/html-icon-svgrepo-com.png"
            alt="HTML"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
          />
          <!--CSS-->
          <img
            src="./images/css-icon-svgrepo-com.png"
            alt="CSS"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="100"
          />
          <!--JS-->
          <img
            src="./images/javascript-icon-svgrepo-com.png"
            alt="JS"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="200"
          />
          <!--TS-->
          <img
            src="./images/typescript-icon-svgrepo-com.png"
            alt="TS"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="300"
          />
          <!--TailwindCSS-->
          <img
            src="./images/tailwindcss-icon-svgrepo-com.png"
            alt="TailwindCSS"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
          />
          <!--Node-->
          <img
            src="./images/nodejs-icon-svgrepo-com.png"
            alt="Node"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="100"
          />
          <!--Express-->
          <img
            src="./images/express-icon-svgrepo-com.png"
            alt="Express"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="200"
          />
          <!--React-->
          <img
            src="./images/react-icon-svgrepo-com.png"
            alt="React"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="300"
          />
          <!--Next-->
          <img
            src="./images/nextjs-icon-svgrepo-com.png"
            alt="Next"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
          />
          <!--Prisma-->
          <img
            src="./images/prisma-icon-svgrepo-com.png"
            alt="Prisma"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="100"
          />
          <!--PostgreSQL-->
          <img
            src="./images/postgresql-icon-svgrepo-com.png"
            alt="PostgreSQL"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="200"
          />
          <!--MongoDB-->
          <img
            src="./images/mongodb-icon-svgrepo-com.png"
            alt="MongoDB"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="300"
          />
          <!--Git-->
          <img
            src="./images/git-icon-svgrepo-com.png"
            alt="Git"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
          />
          <!--Figma-->
          <img
            src="./images/figma-icon-svgrepo-com.png"
            alt="Figma"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="100"
          />
          <!--Postman-->
          <img
            src="./images/postman-icon-svgrepo-com.png"
            alt="Postman"
            width="128"
            height="128"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="200"
          />
        </div>
      </section>
    </main>
  </body>
</html>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
