@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: rgb(7, 7, 7);
  --text: white;
  --accent: rgb(255, 225, 0);
  --base-border-radius: 8px;
  --card-bg: rgb(21, 21, 21);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--background);
  color: var(--text);
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: var(--text);
}

.font-bold {
  font-weight: bold;
}

/*nav bar styles*/
nav {
  background-color: var(--background);
  position: fixed;
  top: 0;
  width: 100svw;
  border-bottom: 1px solid var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 999;
}

.inner-nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inner-nav > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-nav > a > hr {
  width: 100%;
  border-color: var(--accent);
  position: absolute;
  bottom: -8px;
  transition-property: scale;
  transition-timing-function: ease;
  transition-duration: 150ms;
  scale: 0 1;
}

.inner-nav > a > .active-page {
  scale: 1 1;
}

.inner-nav > a:hover > hr {
  scale: 1 1;
}

.nav-logo {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.25rem;
  color: var(--accent);
}
/*nav bar styles*/

/*home page styles*/
.index-main {
  width: 100%;
  height: 100svh;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-sect {
  font-weight: bold;
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}
/*home page styles*/

/*portfolio styles*/
.portfolio-main {
  width: 100%;
  max-width: 1200px;
  padding: 8rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.projects-sect,
.skills-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title-sect {
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 3rem;
}

.divider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 1rem;
}

.divider-container > hr {
  flex-grow: 1;
  height: 0;
  border: 1px solid var(--accent);
}

.divider-container > .center-piece {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--accent);
  border-radius: 9999px;
}

.projects-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
}

.projects-container > .project-item {
  background: var(--card-bg);
  border-radius: var(--base-border-radius);
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
}

.project-thumbnail {
  width: 100%;
  max-height: 250px;
  aspect-ratio: 16/9;
  object-fit: fill;
  background-color: grey;
  border-radius: var(--base-border-radius);
}

.caption-container {
  width: 100%;
  min-height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
}

.caption-container > figcaption {
  font-size: 1.5rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.caption-container > .techs-used-container {
  background: rgb(12, 12, 12);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid var(--accent);
}

.project-item > .description {
  width: 100%;
  opacity: 0.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.project-links-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.project-links-container > a {
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
  background: var(--accent);
  padding: 1rem;
  width: 48%;
  border-radius: var(--base-border-radius);
  outline: 2px solid rgba(255, 255, 255, 0);
  outline-offset: 4px;
  transition-property: outline;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

.project-links-container > a:hover {
  outline: 2px solid var(--text);
  outline-offset: 4px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: center;
  gap: 3rem;
}

/*portfolio styles*/

/*About Me Styles*/
.about-main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-sect {
  padding: 8rem 0 2rem 0;

  width: 100%;
  height: 100svh;
  min-height: 768px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
}

.hero-sect > .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero-sect > .container > p:nth-child(1) {
  font-size: 1.25rem;
  font-weight: 500;
}

.hero-sect > .container > .social-links {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.75rem;
}

.hero-sect > .container > .social-links > p {
  color: rgba(255, 255, 255, 0.5);
}

.web-dev-text {
  font-size: 4rem;
  color: var(--accent);
}

.hero-sect > .profile-picture {
  justify-self: end;
}
/*About Me Styles*/

/*Responsiveness*/
@media (max-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .project-thumbnail {
    max-height: 400px;
  }

  .projects-container > .project-item {
    min-height: 650px;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-main > .hero-sect {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-sect > .container {
    order: 2;
  }

  .hero-sect > .profile-picture {
    justify-self: center;
    width: 400px;
    order: 1;
  }
}

@media (max-width: 768px) {
  .projects-container > .project-item {
    min-height: 450px;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*Responsiveness*/
